version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - dependencies
    groups:
      go-minor-patch:
        update-types:
          - minor
          - patch
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - dependencies
    groups:
      gh-actions:
        update-types:
          - minor
          - patch
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - dependencies
    groups:
      docker-minor-patch:
        update-types:
          - minor
          - patch
